* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#back {
  height: 40vh;
  width: 100%;
  background-size: cover;
}

#heading1 {
  background-image: linear-gradient(to top, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 10px;
  margin-left: 40vw;
}

#searchbar {
  height: 7vh;
  width: 25vw;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 15vh;
  left: 37vw;
}

#button {
  height: 7vh;
  width: 5vw;
  border-radius: 4px;
  position: absolute;
  border: none;
  top: 15vh;
  left: 62vw;
  cursor: pointer;
  background-color: #000000;
}
