@import "leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

#back {
  height: 40vh;
  width: 100%;
  background-size: cover;
}

#heading1 {
  background-image: linear-gradient(to top, #fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 10px;
  margin-left: 40vw;
}

#searchbar {
  height: 7vh;
  width: 25vw;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 15vh;
  left: 37vw;
  font-size: 15px;
}

#button {
  height: 7vh;
  width: 5vw;
  border-radius: 4px;
  position: absolute;
  border: none;
  top: 15vh;
  left: 62vw;
  cursor: pointer;
  background-color: #000000;
}

@media screen and (max-width: 960px) {
  #back {
    height: 30vh;
    width: 100%;
    z-index: 999;
  }

  #heading1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 12%;
    top: 5%;
  }

  #searchbar {
    height: 6vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73vw;
    left: 30px;
  }

  #button {
    height: 6vh;
    width: 10vw;
    left: 80%;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 10%; /*adjust if needed so it sits below the inputs */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 999;
    margin: 0;
    padding: 12px;
    background-color: #fff;
    background-size: contain;
    min-height: 400px;
    gap: 10px;
  }

  .info-item {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    text-align: center;
    color: #000000;
  }

  #map {
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    z-index: 2;
  }
}

#map {
  height: 60vh;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 2;
}

#info {
  display: flex;
  height: 40px;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 15%;
  background-color: transparent;
}
